<h1 ng-bind="title"></h1>

<div class="row">
    <div class="col-md-3">
        <div class="form-group">
            <input class="form-control" ng-model="searchKey" id="search" type="text" placeholder="Search" />

        </div>
    </div>
</div>
<div class="row">
    

    <div class="col-md-3" ng-repeat="post in data.posts | filter: searchKey track by $index">
        <h2 class="text-primary" ng-bind="post.title"></h2>
        <h5>
            <span ng-bind="post.author" class="text-muted">

            </span>
            <span ng-bind="post.postDate | date:'medium'" class="text-muted">

            </span>
        </h5>
        <p ng-bind="post.body"></p>

        <upvote-button></upvote-button>
        <downvote-button></downvote-button>
        <button class="btn btn-success" ng-click="subscribe(post.author)" ng-show="data.subscribedAuthors.indexOf(post.author) == -1"><span class="glyphicon glyphicon-eye-open"></span> Subscribe</button>

        <span ng-show="data.subscribedAuthors.indexOf(post.author) != -1">
            <span class="glyphicon glyphicon-ok"></span> Subscribed
        </span>
        
    </div>

</div>
