<h1 class="text-primary" ng-bind="title"></h1>

<div class="row">
    <div class="col-md-4">
        <form ng-submit="addPost()">
            <div class="form-group">
                <lable>Post Title</lable>
                <input type="text" class="form-control" ng-model="newPost.title" placeholder="title" />

            </div>
            <div class="form-group">
                <lable>Author</lable>
                <input type="text" class="form-control" ng-model="newPost.author" placeholder="author" />

            </div>
            <div class="form-group">
                <lable>Post Body</lable>
                <textarea type="text" class="form-control" ng-model="newPost.body" placeholder="body" width="100%" rows="8" ></textarea>

            </div>
            <button class="btn btn-success"><i class="glyphicon glyphicon-plus"></i> Add Post</button>
        </form>

    </div>
    <div class="col-md-8">
        <table class="table table-responsive table-striped">
            <thead>
                <tr>
                    <th><a href="" ng-click="type='title'">Post Title <i class="glyphicon glyphicon-sort-by-alphabet"></i></a></th>
                    <th><a href="" ng-click="type='author'">Author <i class="glyphicon glyphicon-sort-by-alphabet"></i></a></th>
                    <th>Content</th>
                    <th><a href="" ng-click="type='postDate'">Date <i class="glyphicon glyphicon-sort-by-order"></i></a></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="post in data.posts | orderBy: type:false track by $index">
                    <td ng-bind="post.title" class="col-md-2 text-primary"></td>
                    <td ng-bind="post.author" class="col-md-2"></td>
                    <td ng-bind="post.body | limitTo:60" class="col-md-2"></td>
                    <td ng-bind="post.postDate | date:'medium'" class="col-md-2"></td>
                    <td>
                        <button class="btn btn-sm btn-primary" ng-click="go('/Admin/Posts/Edit/' + post.id)"><i class="glyphicon glyphicon-pencil"></i></button>
                        <button class="btn btn-sm btn-danger"><i class="glyphicon glyphicon-trash" ng-click="deletePost(post)"></i></button>
                    </td>

                </tr>
            </tbody>

        </table>

    </div>
</div>